<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <header th:fragment="my-header">
        <h1>Person Manager Admin</h1>
        <div>
            <a href="#" th:href="@{/}">Index</a>
            <a th:href="@{/persons}">Person List</a>
            <a th:href="@{/pets}">Pet List</a>
            <a th:href="@{/persons/new}">Create a new Person</a>
        </div>
        <hr/>
    </header>

    <footer th:fragment="my-footer">
        <hr/>
        <p>Desenvolvido pela Turma 3 de Java</p>
    </footer>
</body>
</html>