<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Person List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    <div th:replace="~{fragments/headerAndFooter :: my-header}"></div>

    <div>
        <h2>Pet List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Level</th>
                <th>Color</th>
                <th>Race</th>
            </tr>
            <tr th:each="p : ${pets}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.name}"></td>
                <td th:text="${p.petLevel}"></td>
                <td th:text="${p.color}"></td>
                <td th:text="${p.race}"></td>
            </tr>
        </table>
    </div>
    <div th:replace="~{fragments/headerAndFooter :: my-footer}"></div>
</body>
</html>